<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    

    <% if(user) {%>

      <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      style="justify-content: space-between"
    >
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
      <form class="form-inline" action="/logout" method="POST">
        <div class="form-group mb-2">
        <label for="logout" style="padding: 20px"
          >Hello <%= user.email %>
        </label>
        <button type="submit" class="btn btn-primary">Log out</button>
      </form>
    </div>

    <% } else{ %>

    <div class="form-group mb-2" style="padding-right: 20px;">
      <a href="/login" class="btn btn-primary">Log in</a>
    </div>

    <div class="form-group mb-2">
      <a href="/register" class="btn btn-primary">Register</a>
    </div>
    <% } %>
  </nav>
</header>
